<div id="event-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="event-tile">
          <div id="modal-type" class="event-tile-type"> type </div>
          <div id="modal-photo" class="event-photo">
            <div class="event-photo-hover"><i class="fas fa-search"></i> details </div>
          </div>
          <div class="event-info-wrapper">
            <div id='modal-title' class="event-tile-title"> title </div>
            <div class="event-tile-details">
              <div id="modal-date" class="event-tile-header-date chip">
                <i class="far fa-calendar-alt"></i> date
              </div>
              <div id="modal-location" class="event-tile-header-location chip">
                <i class="fas fa-map-marker-alt"></i> location
              </div>
            </div>
          </div>
          <div id="modal-description" class="event-tile-description">
            opis
          </div>
          <div class="event-tile-map" style="background: url(<%= asset_path('events-map.png') %>) no-repeat center center / cover;">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>